.u-section-1 .u-sheet-1 {
  min-height: 492px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 60px 20px 0;
}

.u-section-1 .u-image-1 {
  width: 907px;
  height: 370px;
  margin: 20px auto 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 139px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 782px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0;
}